.Box {
    width: calc(100% / 4 - 20px);
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box h6 {
    font-weight: 700;
    font-size: 18px;
}